body{
    background-color: rgb(255, 247, 236);
}

.question{
    margin: 0 auto;
    width: fit-content;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px groove lightgrey;
}

.options{
    margin: 0 auto;
    height: flex;
    font-size: 14px;
    margin-bottom: 30px;
}

.quiz{
    text-align: center;
    justify-content: center;
}

.choicediv{
    background-color: rgb(235, 221, 213);
    margin: 4px auto;
    width: 25%;
    padding-bottom: 3px;
    border-left: 2px groove rgb(226, 226, 226);
    border-top: 2px groove rgb(226, 226, 226);
    border-right: 2px groove rgb(226, 226, 226);
    border-bottom: 3px solid rgb(190, 190, 190);
}
