body{
    font-family: sans-serif;
    background-color: rgb(255, 247, 236);
}

h1{
    margin: 30px;
}

.fullques{
    width: 60%;
    margin: 30px 20%;
    text-align: left;
}

.question{
    width: fit-content;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px groove lightgrey;
}

.options{
    font-size: 14px;
}

.quiz{
    text-align: center;
}

.choicediv{
    background-color: rgb(235, 221, 213);
    margin: 4px;
    width: 100%;
    padding-bottom: 3px;
    border: 2px groove rgb(226, 226, 226);
    border-radius: 5px;
    border-bottom: 3px solid rgb(180, 180, 180);
}

#btn{
    background-color: blanchedalmond;
    font-size: 16px;
}

.bluetext{
    background-color:blue;
}